/* General */

* {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body{
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    font-family: Outfit, sans-serif ;
  }